<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD OPERATION</title>
</head>
<body>
    <center>
        <h1>CRUD OPERATION</h1>
        <hr/>
        <a href="{% url 'insertemp' %}">Create New Employee</a>
        <table border="1">
            <tr>
                 <th>Employee Id</th>
                 <th>Employee Name</th>
                 <th>Email</th>
                 <th>Occupation</th>
                 <th>Salary</th>
                 <th>Gender</th>
            </tr>
            {%for result in data%}
            <tr>
                <td>{{result.id}}</td>
                <td>{{result.empname}}</td>
                <td>{{result.email}}</td>
                <td>{{result.occupation}}</td>
                <td>{{result.salary}}</td>
                <td>{{result.gender}}</td>
            </tr>
            {%endfor%}
        </table>
    </center>
</body>
</html>